<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Corona Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-vertical">

  <ion-list class="ion-margin">
    <ion-item>
      <ion-label>Country</ion-label>
      <ion-select [(ngModel)]="mdl_country" interface="popover" (ionChange)="selectCountry()">
        <ion-select-option value="">ALL</ion-select-option>
        <ion-select-option *ngFor="let db of data_countries" value="{{db.alpha2Code}}">{{db.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <br>

  <canvas id="pieChart"></canvas>

  <br><br>

  <canvas id="lineChart"></canvas>

  <br><br>
</ion-content>